--
-- PostgreSQL database dump
--

\restrict XdsdAnznkUs55lejivQTyejdsUcyLJKFxYw1Szq0ntTSt0cT1d4JepPDdaUtsEe

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: livestock; Type: SCHEMA; Schema: -; Owner: airflow
--

CREATE SCHEMA livestock;


ALTER SCHEMA livestock OWNER TO airflow;

--
-- Name: SCHEMA livestock; Type: COMMENT; Schema: -; Owner: airflow
--

COMMENT ON SCHEMA livestock IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: livestock_chicken; Type: TABLE; Schema: livestock; Owner: airflow
--

CREATE TABLE livestock.livestock_chicken (
    _id bigint,
    year bigint,
    month bigint,
    regional_name text,
    commod text,
    product_name text,
    value double precision,
    unit text
);


ALTER TABLE livestock.livestock_chicken OWNER TO airflow;

--
-- Name: livestock_cow; Type: TABLE; Schema: livestock; Owner: airflow
--

CREATE TABLE livestock.livestock_cow (
    _id bigint,
    year bigint,
    month bigint,
    regional_name text,
    commod text,
    product_name text,
    value bigint
);


ALTER TABLE livestock.livestock_cow OWNER TO airflow;

--
-- Name: livestock_egg; Type: TABLE; Schema: livestock; Owner: airflow
--

CREATE TABLE livestock.livestock_egg (
    _id bigint,
    year bigint,
    month bigint,
    regional_name text,
    commod text,
    product_name text,
    value bigint,
    unit text
);


ALTER TABLE livestock.livestock_egg OWNER TO airflow;

--
-- Name: livestock_pig; Type: TABLE; Schema: livestock; Owner: airflow
--

CREATE TABLE livestock.livestock_pig (
    _id bigint,
    year bigint,
    month bigint,
    regional_name text,
    commod text,
    product_name text,
    "Value" double precision,
    unit text
);


ALTER TABLE livestock.livestock_pig OWNER TO airflow;

--
-- Name: livestock_shrimp; Type: TABLE; Schema: livestock; Owner: airflow
--

CREATE TABLE livestock.livestock_shrimp (
    _id bigint,
    year bigint,
    month bigint,
    regional_name text,
    commod text,
    product_name text,
    value bigint,
    unit text
);


ALTER TABLE livestock.livestock_shrimp OWNER TO airflow;

--
-- Data for Name: livestock_chicken; Type: TABLE DATA; Schema: livestock; Owner: airflow
--



--
-- Data for Name: livestock_cow; Type: TABLE DATA; Schema: livestock; Owner: airflow
--



--
-- Data for Name: livestock_egg; Type: TABLE DATA; Schema: livestock; Owner: airflow
--



--
-- Data for Name: livestock_pig; Type: TABLE DATA; Schema: livestock; Owner: airflow
--



--
-- Data for Name: livestock_shrimp; Type: TABLE DATA; Schema: livestock; Owner: airflow
--



--
-- PostgreSQL database dump complete
--

\unrestrict XdsdAnznkUs55lejivQTyejdsUcyLJKFxYw1Szq0ntTSt0cT1d4JepPDdaUtsEe

